* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Oswald', sans-serif;
    --secondary-font: 'Pacifico', cursive;
    --dark-primary-color:#1976D2;
    --light-primary-color: #BBDEFB;
    --primary-color:#2196F3;
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --accent-color:#FFC107;
}

html {
    font-family: var(--main-font);
    font-size: 10px;
    color: #333;
    scroll-behavior: smooth;
}

/* utilities */
.divider {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

section {
    padding: 4rem 0;
    
}

.section-headline {
    font-size: 2.5rem;
    border-bottom: var(--accent-color) solid .2rem;
    color: var(--secondary-text-color);
}

img {
    width: 100%;
    max-width: 900px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

a:link {
    color: #fff;
}


a:hover {
    color: #fff;
}

.container{
    width: 100%;
    max-width: 122.5rem; /* 1225 px*/
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

 .cta-btn {
    font-size: 1rem;
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    color: var(--primary-color);
    border-radius: .5rem; 
}

 .cta-btn:hover, .cta-btn:focus {
    color: #fff;
    background-color: var(--accent-color);

}

h3 {
    font-size: 2rem;
    font-weight: 500;
    padding: .2rem
}

h4 {
    font-size: 1.8rem;
    font-weight: 300;
    padding: .2rem
}




/* header */
header {
    background-color: var(--dark-primary-color);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

.nav-item {
    padding: 1rem 1rem;
}

/* Hero */
.headline {
    font-family: 'Pacifico', cursive;
    font-weight: 800;
    font-size: 3rem;
    color: var(--accent-color);
    
}

.sub-headline {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    padding-bottom: 1rem;
}

.hero {
    width:100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(208, 212, 214, 0.3), rgba(65, 132, 231, 0.5)), url("../img/pikeplacelg.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color:var(--primary-color);
    position: relative;
}


.asterisk {
    font-size: 1.4rem;
    color: var(--accent-color);
    margin: 0 1.6rem;
}

/* projects section */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: var(--primary-text-color);
    border-radius: 2rem;
    color: #fff;
    width: 100%;
}

.card-left-top {
    padding: 1rem ;
}

.card-img {
    max-height: 40rem;
    border-radius: 1rem;
    
}

.card-desc {
    font-size: 1.2rem;
    font-weight: 300;
    border-bottom: var(--accent-color) solid .2rem;
    border-top: var(--accent-color) solid .2rem;
}

.card-main {
    font-family: var(--main-font);
}

.tech-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

/* about section */
.aboutme {
    background-color: var(--light-primary-color);
    
}

.aboutme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: #fff;
    border-radius: 2rem;
}

.aboutme-info-img {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

.aboutme-info-img img{
    border-radius: 1rem;
    
}

.aboutme-details {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var(--main-font);
    padding: 1rem .5rem;
}

/* contact section */

.contact {
    background-color: #757575;
    text-align: center;
}

.contact h2 {
    color: #fff;
}


.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    color: #fff;
    padding: 1rem;
}


/* footer section */

.footer {
    background-color: var(--dark-primary-color);
    display: flex;
    height: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
}

/* media queries */
@media screen and (min-width: 425px) {
    .nav-item {
        font-size: 1.5rem;
    }

    .headline {
        font-size: 4rem;  
    }



}

/*media 700*/
@media screen and (min-width: 760px){

    .nav-item {
        font-size: 2rem;
    }

    .headline {
        font-size: 5rem;  
    }

    .sub-headline {
        font-size: 3.5rem;
        font-weight: 700;
        
        
    }

    /* projects */

    h3 {
        font-size: 2.5rem;
    }

    .h4 {
        font-size: 2.2rem;
    }

    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .card-left-top {
        width: 70%;
        justify-content: flex-end;
    }

    .card-main {
        width: 60%;
        font-size: 2rem;
    }

    .card-desc {
        font-size: 1.5rem;
    }

    /* about section */

    .aboutme-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .aboutme-details {
        font-size: 1.5rem;
    }
    .aboutme-info-img {
        height: 100%;
    }

    /* contact me */

    .contact-main {
        font-size: 1.5rem;
    }


}
