* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: #ffffff;
    font-family: 'Open-sans';
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif; 
}


ul, .nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li{
    padding: 10px;
    margin: 0 auto;
}


/* Utilities */
section:nth-child(odd){
    background:#c9c9c9;
    width: 100%;
    height: 40vh;
    padding: 10px 20px;
}

section:nth-child(even){
    background: #b4b4b4;
    width: 100%;
    height: 40vh;
    padding: 10px 20px;
}

/* nav */
.nav {
    
    background-color: #0e0d0d;
    color: #ffffff;
}

/* hero */

/* footer */
.footer {
    height: 50px;
    background-color: #0e0d0d;
    color: #ffffff;
}

/* media queries */
@media screen and (min-width: 320px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    ul, .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


    .logo {
        display: flex;
        justify-content: center;
    }

    section {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #f3f3f3;
    }
}

@media screen and (min-width: 760px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    ul, .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    section {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        background-color: #f3f3f3;
    }

}