/* media queries of smaller screens */
@media screen and (min-width: 320px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    ul, .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .logo {
        display: flex;
        justify-content: center;
    }

    section {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #f3f3f3;
    }
} 